<div class="row portal-height"></div>
<div class="row">
    <div class="form-group">
        <label for="rainbow_address" class="col-sm-3 col-md-3 col-lg-3 control-label" data-lang="{text:rainbow_ip}"></label>
        <div class="col-sm-3 col-md-4 col-lg-3">
            <input type="text" class="form-control my-input-radius-control validate[custom[rainbowip]]" id="rainbow_address" data-lang="{placeholder:enter_ip_address}" />
        </div>
        <div class="col-sm-2 col-md-1 col-lg-1 input-group addone-margin-left">
            <div class="input-group-addon addone-no-radius">:</div>
            <input type="text" class="form-control addone-input-mobile validate[custom[rainbowport]]" data-lang="{placeholder:port}" id="rainbow_port">
        </div>
    </div>
    <div class="form-group">
        <label for="check-mode"  class="col-sm-3 col-md-3 control-label" data-lang="{text:demo_mode}"></label>
        <div class="col-sm-8">
            <div class="checkbox">
                <!--<label>-->
                   <input type="checkbox" id="check-mode" class="my-margin-left-checkbox">
                <!--</label>-->
            </div>
        </div>
    </div>
</div>
<div class="my-pre-step-next-step-position">
    <button type="button" class="btn btn-default btn-sm adjust-en-ch" id="pre-step" data-lang="{text:pre_step}"></button>
    <button type="button" class="btn btn-default btn-sm adjust-en-ch" id="next-step" data-lang="{text:next_step}"></button>
</div>