<div class="row portal-height"></div>
<div class="row">
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
        <div class="form-group">
            <label for="white-mac-1" class="col-sm-4 control-label" data-lang="{text:white_mac_1}">白名单MAC1</label>
            <div class="col-sm-8">
                <input type="text" class="form-control validate[custom[macMacth]]" id="white-mac-1" data-lang="{placeholder:enter_mac}" />
            </div>
        </div>
        <div class="form-group">
            <label for="white-mac-2" class="col-sm-4 control-label" data-lang="{text:white_mac_3}">白名单MAC2</label>
            <div class="col-sm-8">
                <input type="text" class="form-control validate[custom[macMacth]]" id="white-mac-2" data-lang="{placeholder:enter_mac}" />
            </div>
        </div>
        <div class="form-group">
            <label for="white-mac-3" class="col-sm-4 control-label" data-lang="{text:white_mac_3}">白名单MAC2</label>
            <div class="col-sm-8">
                <input type="text" class="form-control validate[custom[macMacth]]" id="white-mac-3" data-lang="{placeholder:enter_mac}" />
            </div>
        </div>
        <div class="form-group">
            <label for="white-mac-4" class="col-sm-4 control-label" data-lang="{text:white_mac_4}">白名单MAC2</label>
            <div class="col-sm-8">
                <input type="text" class="form-control validate[custom[macMacth]]" id="white-mac-4" data-lang="{placeholder:enter_mac}" />
            </div>
        </div>
        <div class="form-group">
            <label for="white-mac-5" class="col-sm-4 control-label" data-lang="{text:white_mac_5}">白名单MAC2</label>
            <div class="col-sm-8">
                <input type="text" class="form-control validate[custom[macMacth]]" id="white-mac-5" data-lang="{placeholder:enter_mac}" />
            </div>
        </div>
    </div>
    <!--<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 my-table-container-scroll table-responsive">-->
        <!--<table class="table-bordered table ">-->
            <!--<thead>-->
                <!--<tr>-->
                    <!--<th><input id="th-check-all" type="checkbox" class="my-table-checkbox my-table-margin-top"/><label data-lang="{text:select_all}" for="th-check-all" class="col-sm-10 control-label"></label></th>-->
                    <!--<th data-lang="{text:mac_address}"></th>-->
                    <!--<th data-lang="{text:host_name}"></th>-->
                <!--</tr>-->
            <!--</thead>-->
            <!--<tbody>-->
            <!--</tbody>-->
        <!--</table>-->
    <!--</div>-->
</div>
<div class="my-pre-step-next-step-position">
    <button type="button" class="btn btn-default btn-sm adjust-en-ch" id="pre-step" data-lang="{text:pre_step}"></button>
    <button type="button" class="btn btn-default btn-sm adjust-en-ch" id="apply-config" data-lang="{text:apply_config}"></button>
</div>