<div class="container-fluid my-container-fluid-heihgt">
    <div class="row portal-height">
        <div class="col-xs-4 col-sm-8 col-md-7 col-lg-8">
        </div>
        <div class="col-xs-4 col-sm-2 col-md-3 col-lg-2 text-center">
            <span id="config-director" class="my-font-style" data-lang="{text:config_guide+:}"></span>
        </div>
        <div class="col-xs-4 col-sm-2 col-md-2 col-lg-2">
            <div class="my-float">
                <span id="sennior-config" class="my-font-style" data-lang="{text:sennior_config+:}"></span>
            </div>
        </div>
    </div>
    <div class="row my-margin-top">
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-3 col-lg-offset-1">
            <div class="row infomation-div-network-color infomation-div my-row-1 my-border-radius">
                <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                    <h5 class="my-font-weight" data-lang="{text:network}"></h5>
                    <div class="row">
                        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                        </div>
                        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                            <label class="my-own-font-size my-s-margin-top" data-lang="{text:status}"></label>:
                            <span id="network-state"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4"></div>
                        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                            <label class="my-own-font-size my-s-margin-top" data-lang="{text:duration}"></label>:
                            <span id="network-period"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4"></div>
                        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                            <label class="my-own-font-size my-s-margin-top" data-lang="{text:flow}"></label>:
                            <span id="network-flow"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-3 col-lg-offset-1">
            <div class="row infomation-div-wifi-color infomation-div my-row-2 my-border-radius">
                <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                    <h5 class="my-font-weight" data-lang="{text:wireless}"></h5>
                    <div class="row">
                        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4"></div>
                        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                            <label class="my-own-font-size my-s-margin-top" data-lang="{text:wifi_spot}"></label>:
                            <span id="wifi-ssid"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4"></div>
                        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                            <label class="my-own-font-size my-s-margin-top" data-lang="{text:connections}"></label>:
                            <span id="wifi-devices"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4"></div>
                        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                            <label class="my-own-font-size my-s-margin-top" data-lang="{text:users}"></label>:
                            <span id="wifi-users"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-3 col-lg-offset-1">
            <div class="row infomation-div-sync-color infomation-div my-row-3 my-border-radius">
                <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                    <h5 class="my-font-weight" data-lang="{text:content_synchro}"></h5>
                    <div class="row">
                        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4"></div>
                        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                            <label class="my-own-font-size my-s-margin-top" data-lang="{text:html}"></label>:
                            <span id="sync-html"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4"></div>
                        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                            <label class="my-own-font-size my-s-margin-top" data-lang="{text:scripts}"></label>:
                            <span id="sync-scripts"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4"></div>
                        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                            <label id="" class="my-own-font-size my-s-margin-top" data-lang="{text:conf}"></label>:
                            <span id="sync-conf"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>